body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea, a, label {
  pointer-events: auto;
}

button {
  cursor: pointer;
}
button:hover {
  filter: brightness(150%);
}
button:active {
  filter: brightness(75%);
}
